@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root{
  --navlink_color:rgb(255, 254, 254);
}



*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: #071a20;
}

@media (max-width:5570px) {
    .complete{
      width:100%;
      height: 700px;
      object-fit: fill;
      margin: none;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      background:url(https://i.pinimg.com/736x/25/ab/92/25ab9231fc501c6a1f9abde2641d8dd2.jpg) ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .nav_bar{
      height:130.5px;
    }

    .nav{
      position: fixed;
      display: flex;
      flex-direction: row;
      width:100%;
      padding: 20px 30px 20px 30px;
      z-index: 10;
      transition: 0.5s ease-in;
    }

    .nav.scrolled{
      background:url(https://i.pinimg.com/736x/25/ab/92/25ab9231fc501c6a1f9abde2641d8dd2.jpg) ;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .my-portifolio{
      flex:50%;
      display: flex;
      align-items: center;
      color: var(--navlink_color);
      text-transform: uppercase;
      font-family: "PT Serif", serif;
      font-weight: 700;
      font-size: 30px;
      
    }

    .links{
      flex: 50%;
    }

    .nav-links{
      display: flex;
      margin-right: 2%;
      justify-content: center;
    }

    .nav-link-1,.nav-link-2,.nav-link-3,.nav-link-4,.nav-link-5{
      margin-left: 12%;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--navlink_color);
      margin-top: 2.5%;
      font-size: 20px;
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .nav-link-1::after,.nav-link-2::after,.nav-link-4::after,.nav-link-3::after{
      content:"";
      width:70px;
      height:2px;
      top:-8%;
      position: absolute;
      background-color:var(--navlink_color);
      transition: 0.2s ease-in;
      visibility: hidden;
    }

    .nav-link-1::before,.nav-link-2::before,.nav-link-3::before{
      content:"";
      width:70px;
      height:2px;
      position: absolute;
      background-color:var(--navlink_color);
      top:60%;
      visibility: hidden;
      transition: 0.2s ease-in;
    }

    .nav-link-1::before{
      transform: translateX(-35px) translateY(30px);
      left:60.45%;
    }

    .nav-link-1::after{
      transform:translateX(-35px) translateY(18px);
      left:60.45%;
    }

    .nav-link-2::before{
      transform: translateX(-30px) translateY(30px);
      left: 69.7%;
    }
    .nav-link-2::after{
      transform: translateX(-30px) translateY(18px);
      left: 69.7%;
    }

    .nav-link-3::before{
      transform: translateX(-30px) translateY(30px);
    }
    .nav-link-3::after{
      transform: translateX(-30px) translateY(18px);
    }

    .nav-link-4::after{
      transform: translateX(-50px) translateY(18px);
      left: 90.7%;
      width:103px;
    }

    .nav-link-4::before{
      transform: translateX(-50px) translateY(30px);
      left: 90.7%;
      width:103px;
      content:"";
      height:2px;
      position: absolute;
      background-color:var(--navlink_color);
      top:60%;
      transition: 0.2s ease-in;
      visibility: hidden;
    }

    .nav-link-3::after,.nav-link-3::before{
      left:79.5%;
    }


    .nav-link-2:hover::before{
      visibility: visible;
      transform: translateX(-30px) translateY(13px);
    }

    .nav-link-2:hover::after{
      visibility: visible;
      transform: translateX(-30px)  translateY(33px);
    }

    .nav-link-3:hover::before{
      visibility: visible;
      transform: translateX(-30px) translateY(13px);
    }

    .nav-link-3:hover::after{
      visibility: visible;
      transform: translateX(-30px)  translateY(33px);
    }

    .nav-link-4:hover::before{
      visibility: visible;
      transform: translateX(-50px) translateY(18px);
    }

    .nav-link-4:hover::after{
      visibility: visible;
      transform: translateX(-50px) translateY(33px);
    }


    .nav-link-1:hover::after{
      visibility: visible;
      transform: translateX(-35px) translateY(33px);
    }

    .nav-link-1:hover::before{
      visibility: visible;
      transform: translateX(-35px) translateY(13px);
    }

    
    .intro,.about,.projects,.portifolio{
      visibility: hidden;
    }

    #intro{
      display: flex;
      flex-direction: row;
      position: absolute;
      top:30%;
      width: 100%;
      font-family: 'Barlow', sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .my_profile{
      flex: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 350px;
      height:350px;
      border-radius: 50%;
      margin-left:10% ;
    }

    .my_intro{
      flex:40%;
      color: var(--navlink_color);
      margin-left: 20%;
      top:10%;
    }

    .my_intro h1{
      font-size: 30px;
      margin-top: 10%;
      margin-bottom: 1%;
    }

    .my_intro h3{
    
      font-size: 60px;
      color: rgb(139, 254, 242);
    }

    .my_intro p{
      font-size: 30px;
      margin-top: 1%;
    }

    .my_intro p h2{
      position: absolute;
      display: inline-block;
    }

    .fill
    {
      font-size: 70px;
      font-family: 'Barlow', sans-serif;
      font-weight: 500;
      font-style: normal;
      display: flex;
      justify-content: center;
      color: rgb(153, 224, 252);
      margin-right: 5%;
    }

    .about_me_title{
      font-size: 70px;
      font-family: 'Barlow', sans-serif;
      font-weight: 500;
      font-style: normal;
      display: flex;
      justify-content: center;
      margin-top: 5%;
      color: white;
    }

    .line{
      content: "";
      height:3px;
      width:90vw;
      background-color: rgba(255, 255, 255, 0.532);
      margin-top: 4%;
      display: block;
      margin-left: 6%;
    }

    .container_about_me{
      position: relative;
      width:100%;
      height:450px;
      margin-top: 10%;
      gap: 20px;
      perspective: 1000px;

    }

    .about_me{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .card-1,.card-2,.card-3,.card-4{
      overflow: hidden;
      border-radius: 10px;
      transition: 0.5s ease-in;
      border:2px 
    }

    

    .card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover{
      cursor: pointer;
     
    }

    .card-1:hover .text-1 ,.card-2:hover .text-2,.card-3:hover .text-3,.card-4:hover .text-4{
      visibility: visible;
      height: 200px;
    }

    .text-1 h4,.text-2 h4,.text-3 h4,.text-4 h4{
      visibility: hidden;
    }

    .card-1:hover p,.card-2:hover p,.card-3:hover p,.card-4:hover p{
      visibility: visible;
    }
    
    .image-1,.image-2,.image-3,.image-4{
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 10px 10px 5px #aaaaaa;
      transition: 0.5s ease-in;
      width: 25vw;
      height: 350px;
      border:2px solid aliceblue;
    }

    .image-1:hover,.image-2:hover,.image-3:hover,.image-4:hover{
      box-shadow: 10px 10px 5px #aaaaaa inset;
    }


    .text-1,.text-2,.text-3,.text-4{
      box-sizing: border-box;
      position: absolute;
      width: 25vw;
      height:100px;
      margin-bottom: 5%;
      background-color:rgb(0, 0, 0,50%);
      color: white;
      bottom: 28px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      font-family: 'Merriweather', serif;
      font-weight: 400;
      font-style: normal;
      transition: 0.3s ease-out;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-1 p,.card-2 p,.card-3 p,.card-4 p{
      visibility: hidden;
    }

    #skills{
      margin-top: 5%;
    }

    .skills_title{
      font-size: 70px;
      display: flex;
      justify-content: center;
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-style: normal;
      color: white;
    }

    

    .title{
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 30px;
      display: flex;
      justify-content: center;
    }

    .project_title{
      margin:30px;
      font-size: 70px;
      font-family: "Barlow", sans-serif;
      font-weight: 500;
      font-style: normal;
      display: flex;
      justify-content: center;

    }

    .title-1,.title-2,.title-3,.title-4{
      margin-top: 70px;
      margin-bottom: 3%;
      z-index: 20;
    }

    .title-2{
      margin-left: 72%;
    }

    .title-4{
      margin-left: 70%;
    }

    .content{
      margin: 10px;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 20px;
    }
    

    #projects{
      width: 100%;
      margin-top: 10%;
    }

    .website-1,.website-2,.website-3,.website-4{
        background-color: #70B1EB;
    }

    .all-cards{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      gap:30px;
      justify-content: space-around;
      margin-top: 7%;
    }


    .title-1 a,.title-2 a,.title-3 a,.title-4 a{
      text-decoration: none;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 30px;
      margin-left:50px;
      margin-top: 30px;
      z-index: 20;
    }

    .description-2,.description-1,.description-3,.description-4{
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 24px;
      margin-left:50px;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      z-index: 20;
    }

    .project_img_1,.project_img_2,.project_img_3,.project_img_4{
      flex:25%;
      width:200px;
      height: 200px;
      margin-right: 10%;
      border-radius:10px ;
      border:1px black solid;
    }

    .all-cards p{
      padding:20px 0px 20px 0px;
       color:white;
    }


    .project_img_2,.project_img_4{
      margin-left:5%;
    }

    .project_img_3{
      width:200px;
      height: 200px;
    }


    .project-1,.project-2,.project-3,.project-4{
      width: 25vw;
      height: 300px;
    }


    .project-card-1,.project-card-2,.project-card-3,.project-card-4{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #70B1EB;
      box-shadow: 5px 5px 20px;
      transition: 0.3s ease-in;
      padding: 10px;
      width: 28vw;
      border: 2px solid aliceblue;
    }

    .project-card-4{
      grid-column-start:2;
      grid-column-end: 3;
    }

    .project-card-1-part-2,.project-card-2-part-2,.project-card-3-part-2,.project-card-4-part-2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 0px 50px 0px;
      width: 25vw;
      height: 350px;
    }

    .github,.live-link{
      background-color: white;
      transition: 0.3s ease;
      border: none;
      padding: 10px 5px 10px 5px;
      color:   #70B1EB;
    }

    .github a,.live-link a{
      transition: 0.3s ease;
      text-decoration: none;
    }

    .github:hover,.live-link:hover{
      background-color: #70B1EB;
      border: 2px solid rgb(255, 255, 255);
      color: white;
    }

    .github a:hover,.live-link a:hover{
      color: white;
    }

    .circle{
      height:550px;
      width: 550px;
      background-color: aqua;
      border-radius: 50%;
      position: absolute;
      z-index: -4;
      transform: translate(25%,25%);
    }

    .project-button button{
      margin-top:15%;
      font-size: 20px;
      padding: 5px 10px 5px 10px;
      background-color:white;
      color: rgb(122, 163, 247);;
      border-radius: 10px;
      border:1px solid rgb(122, 163, 247);
      transition: 0.3s ease;
    }

    .button{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    .project-button button:hover{
      background-color: rgb(122, 163, 247);
      color: white;
    }

    .project-title{
      font-size: 25px;
      color: white;
      padding: 20px 0px 60px 0px;
      margin-bottom: 10%;
    }

    .skills_container{
      display: grid;
      grid-template-areas: 'a b c d';
      margin-top: 7%;
      justify-content: space-around;
    }

    .skill-1,.skill-2,.skill-3,.skill-4{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20vw;
      border:2px solid white;
      border-radius: 30px;
    }

    .skill-1 p,.skill-2 p,.skill-4 p{
      color: white;
      margin-top: 5%;
      padding: 0px 0px 15px 0px;
    }

    .skill-3 p{
      color: white;
      padding: 0px 0px 15px 0px;
    }

    .skill-3 img
    {
      margin-top: 5%;
      height:200px;
    }

    

    .skill-2 img,.skill-1 img{
      height:170px;

      margin-top: 15%;
    }

    .skill-4 svg{
      width:18vw;
      height:170px;
      margin-top: 15%;
    }

    .footer{
      background-color: rgb(34, 100, 126);
      margin-top: 10%;
      padding: 30px 0px 50px 0;
      display: grid;
      grid-template-columns: 1fr 0.3fr 1fr; 
      grid-template-rows: auto auto ;
      gap: 10px;
      place-items: center;
    }

    .vertical_line{
      height:275px;
      width:2px;
      background-color: #c3bebe9b;
      grid-row: 1;
      grid-column: 2;
    }

    .info_about_me h1{
      color: white;
      font-weight:thin;
      margin-bottom: 10%;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .email{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 7%;
    }

    .contact{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .info_about_me svg{
      font-size: 25px;
      display: inline;
      color: aqua;
    }

    .info_about_me p{
      display: inline;
      margin-left:5% ;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: x-large;
    }

    .find_your_way{
      color: white;
      margin-bottom: 5%;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .icons{
      display: flex;
      justify-content: center;
      align-items: center;
      flex:30%;
      grid-row: 2;
      grid-column: 1 / span 3 ; 
      margin-top: 3%;
    }

    .icons .fa{
      color:white;
      height:35px; 
      font-size: 50px;
    }


    .icons .fa:hover{
      color:aqua;
    }

    .info_about_me{
      color: rgb(237, 237, 237);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-row: 1;
      grid-column: 1;
    }

    .down_navbar{
      display:flex;
      flex-direction: column;
      align-items: center;
      grid-column: 3;
      grid-row: 1;
    }

    .down-nav-link-1,.down-nav-link-2,.down-nav-link-3,.down-nav-link-4{
      text-transform: uppercase;
      text-decoration: none;
      color: var(--navlink_color);
      font-size: 20px;
      font-family: 'Barlow', sans-serif;
      font-weight: 100;
      font-style: normal;
      padding: 10px 0px 5px 0px;
      opacity: 0.8;
    }

    .down-nav-link-1:hover,.down-nav-link-2:hover,.down-nav-link-3:hover,.down-nav-link-4:hover{
      opacity: 1;
      color: aqua;
    }


}

@media(max-width:1396px){
  .nav-links{
    visibility: hidden;
    position: absolute;
  }

  .line{
    visibility: hidden;
  }

  .project_title::after,.about_me_title::after{
    visibility: hidden;
  }

  .hamburger-menu{
    width: 70px;
    height:70px;
    position: relative;
    margin-right: 15%;
    cursor: pointer;
    z-index: 2;
    display: flex;
    float: right;
  }
  
  .hamburger-menu span{
    width:100%;
    display: inline-block;
    height: 5px;
    background-color: var(--navlink_color);
    border-radius: 10px;
    transition: 0.2 ease-in;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  span:nth-child(1){
    top:25%
  }

  span:nth-child(3){
    top:75%;
  }

  .hamburger-menu.active span:nth-child(1){
    transform: rotate(-45deg) ;
    top:50%;
  }

  .hamburger-menu.active span:nth-child(2){
    opacity: 0;
  }

  .hamburger-menu.active span:nth-child(3){
    transform: rotate(45deg) ;
    top: 50%;
  }

  .off-screen-menu{
    background-color: rgba(0, 0, 0, 0.412);
    min-height:100%;
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right:-600px;
    transition: 0.3s ease;
    z-index: 1;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0  10px rgba(0, 0, 0, 0.1);
  }

  .off-screen-menu.active{
    right: 0px;

  }

  .intro{
    margin-top: 30%;

  }

  .intro,.about,.projects,.portifolio{
    display: block;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    flex:10%;
    opacity: 0.6;
    visibility:visible;
  }

  .intro:hover,.about:hover,.projects:hover,.portifolio:hover,.intro.active,.about.active,.projects.active,.portifolio.active{
    opacity: 1;
    color: aqua;
    visibility: visible;
  }

  #intro{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:30%;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .my_profile{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 330px;
    height:330px;
    border-radius: 50%;
    margin-left:10% ;
  }

  .my_intro{
    flex:40%;
    color: var(--navlink_color);
    margin-left: 20%;
    top:10%;
  }

  .my_intro h1{
    font-size: 35px;
    margin-top: 10%;
  }

  .my_intro h3{
    font-size: 60px;
    color: rgb(139, 254, 242);
  }

  .my_intro p{
    font-size: 35px;
  }

  .my_intro p h2{
    position: absolute;
    display: inline-block;
  }
  
  
  .about_me{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .card-1,.card-2,.card-3,.card-4{
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease-out;
  }

  .card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover{
    cursor: pointer;
  }

  .card-1:hover .text-1 ,.card-2:hover .text-2,.card-3:hover .text-3,.card-4:hover .text-4{
    visibility: visible;
    height: 250px;
  }

  .card-1:hover p,.card-2:hover p,.card-3:hover p,.card-4:hover p{
    visibility: visible;
  }
  
  .image-1,.image-2,.image-3,.image-4{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.5s ease-in;
    height: 350px;
  }

  .image-4:hover,.image-2:hover,.image-3:hover,.image-1:hover{
    box-shadow: 10px 10px 5px #aaaaaa inset;
  }

  .text-1,.text-2,.text-3,.text-4{
    box-sizing: border-box;
    position: absolute;
    width:23vw;
    height:100px;
    margin-bottom: 5%;
    background-color:rgb(0, 0, 0,50%);
    color: white;
    bottom: 28px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s ease-out;
  }

  .card-1 p,.card-2 p,.card-3 p,.card-4 p{
    visibility: hidden;
  }

  .title{
    margin: 20px;
  }

  .image-1,.image-2,.image-3,.image-4{
    width: 23vw;
  }

  .icons .fa {
    margin-left: 7%;
    color: white;
    height: 35px;
    font-size: 50px;
  }
}


@media(max-width:1174px){
  .about_me{
    justify-content: space-evenly;
  }

  .skill-1, .skill-2, .skill-3, .skill-4{
    width: 20vw;
    margin-top: 15%;
  }

  .image-1, .image-2, .image-3, .image-4 {
    width: 25vw;
  }

  .text-1, .text-2, .text-3, .text-4 {
    width: 25vw;
  }
}

@media(max-width:1160px){
  .nav-links{
    visibility: hidden;
  }

  .skills_container{
    grid-template-areas:'a b';
  }


  span:nth-child(1){
    top:25%
  }

  span:nth-child(3){
    top:75%;
  }

  .hamburger-menu.active span:nth-child(1){
    transform: rotate(-45deg) ;
    top:50%;
  }

  .hamburger-menu.active span:nth-child(2){
    opacity: 0;
  }

  .hamburger-menu.active span:nth-child(3){
    transform: rotate(45deg) ;
    top: 50%;
  }

  .off-screen-menu{
    background-color: rgba(0, 0, 0, 0.399);
    height:100vh;
    width: 100%;
    max-width: 700px;
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right:-700px;
    transition: 0.3s ease;
    z-index: 1;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0  10px rgba(0, 0, 0, 0.1);
  }

  .off-screen-menu.active{
    right: 0px;
  }

  .intro{
    margin-top: 30%;

  }

  .intro,.about,.projects,.portifolio{
    display: block;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    flex:10%;
    opacity: 0.6;
    visibility:visible;
  }

  .skill-1, .skill-2, .skill-3, .skill-4 {
    width: 30vw;
  }

  .intro:hover,.about:hover,.projects:hover,.portifolio:hover.intro.active,.about.active,.projects.active,.portifolio.active{
    opacity: 1;
    color: aqua;
    visibility: visible;
  }

  .about_me{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
   
  }

  .card-1,.card-2,.card-3,.card-4{
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease-out;
  }

  .card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover{
    cursor: pointer;
  }

  .card-1:hover .text-1 ,.card-2:hover .text-2,.card-3:hover .text-3,.card-4:hover .text-4{
    visibility: visible;
    height: 220px;
  }

  .card-1:hover p,.card-2:hover p,.card-3:hover p,.card-4:hover p{
    visibility: visible;
  }
  
  .image-1,.image-2,.image-3,.image-4{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.5s ease-in;
    height: 350px;
  }

  .image-1:hover,.image-2:hover,.image-3:hover,.image-4:hover{
    box-shadow: 10px 10px 5px #aaaaaa inset;
  }

  .text-1,.text-2,.text-3,.text-4{
    box-sizing: border-box;
    position: absolute;
    height:90px;
    margin-bottom: 5%;
    background-color:rgb(0, 0, 0,50%);
    color: white;
    bottom: 39px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
    font-style: normal;
    transition: 0.3s ease-out;
    font-size: 17px;
  }

  .card-1 p,.card-2 p,.card-3 p,.card-4 p{
    visibility: hidden;
  }

  .title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  .project-card-1,.project-card-2,.project-card-3,.project-card-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #70B1EB;;
  }

  .project-button button{
    margin-top:15%;
    font-size: 18px;
    padding: 5px 8px 5px 8px;
    background-color:white;
    color: rgb(122, 163, 247);;
    border-radius: 10px;
    border:1px solid rgb(122, 163, 247);
    transition: 0.3s ease;
  }

  .project-button button:hover{
    background-color: rgb(122, 163, 247);
    color: white;
  }

  .project-title{
    font-size: 20px;
    color: white;
    padding: 20px 0px 20px 0px;
  }
}

@media(max-width:1044px){
  

  .off-screen-menu{
    background-color: rgba(0, 0, 0, 0.399);
    height:100vh;
    width: 100%;
    max-width: 900px;
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right:-900px;
    transition: 0.3s ease;
    z-index: 1;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0  10px rgba(0, 0, 0, 0.1);
  }

  .card-1, .card-2, .card-3, .card-4 {
    margin-left: 0%
  }

}



@media(max-width:938px){
  .nav-links{
    visibility: hidden;
  }
  .container_about_me{
    margin-top: 0;
  }

  .text-1 h4,.text-2 h4,.text-3 h4,.text-4 h4{
    visibility: visible;
  }

  .off-screen-menu{
    background-color: rgba(0, 0, 0, 0.399);
    height:100vh;
    width: 100%;
    max-width: 900px;
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    right:-900px;
    transition: 0.3s ease;
    z-index: 1;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0  10px rgba(0, 0, 0, 0.1);
  }

  .off-screen-menu.active{
    right: 0px;
  }

  .intro{
    margin-top: 30%;

  }

  .intro,.about,.projects,.portifolio{
    display: block;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    flex:10%;
    opacity: 0.6;
    visibility:visible;
  }

  .intro:hover,.about:hover,.projects:hover,.portifolio:hover,.intro.active,.about.active,.projects.active,.portifolio.active{
    opacity: 1;
    color: aqua;
    visibility: visible;
  }
  .container_about_me{
    height: 1550px;
  }

  .about_me{
    display: flex;
    flex-direction: column;
  }

  .card-1,.card-2,.card-3,.card-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }

  .image-1, .image-2, .image-3, .image-4{
    width: 35vw;
    height: 400px;
  }

   .text-4{
    width: 35vw;
    bottom: 3em;
  }

  .text-1{
    bottom: 60em;
    width: 35vw;
  }

  .text-2{
    bottom: 31em;
    width: 35vw;
  }

  .text-3{
    bottom: 4;
    width: 35vw;
  }

  .all-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card-1, .project-card-2, .project-card-3, .project-card-4{
    width: 300px;
  }

  .project-card-1-part-2, .project-card-2-part-2, .project-card-3-part-2, .project-card-4-part-2{
    width: 250px;
  }

  .project-1, .project-2, .project-3, .project-4{
    width: 250px;
  }

  .info_about_me{
    font-size: 15px;
  }

  .down_navbar{
    font-size:15px;
  }

  .icons .fa{
    height: 3px;
    font-size: 40px;
  }

  .icons {
    margin-top: 0%;
  }

  .vertical_line {
    height: 200px;
    
  }
}

@media(max-width:830px){
  .my-portifolio{
    font-size: 30px;
    flex: 70%;
  }
}

@media(max-width:800px){
  #intro{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:30%;
    width: 100%;
    font-weight: 500;
    font-style: normal;
  }

  .my_profile{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    height:250px;
    border-radius: 50%;
    margin-left:10% ;
  }

  .my_intro{
    flex:40%;
    color: var(--navlink_color);
    margin-left: 20%;
    top:10%;
  }

  .my_intro h1{
    
    font-size: 30px;
    margin-top: 0%;
  }

  .my_intro h3{
  
    font-size: 40px;
    color: rgb(139, 254, 242);
  }

  .my_intro p{
    font-size: 30px;
  }

  .my_intro p h2{
    position: absolute;
    display: inline-block;
  }

  .about_me{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-1,.card-2,.card-3,.card-4{
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease-out;
  }

  .card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover{
    cursor: pointer;
  }

  .card-1:hover .text-1 ,.card-2:hover .text-2,.card-3:hover .text-3,.card-4:hover .text-4{
    visibility: visible;
    height: 250px;
  }

  .card-1:hover p,.card-2:hover p,.card-3:hover p,.card-4:hover p{
    visibility: visible;
  }
  
  .image-1,.image-2,.image-3,.image-4{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.5s ease-in;
    width: 40vw;
    height: 370px;
  }

  .image-1:hover,.image-2:hover,.image-3:hover,.image-4:hover{
    box-shadow: 10px 10px 5px #aaaaaa inset;
  }

  .text-1, .text-2, .text-3, .text-4{
    width: 40vw;
  }

  .card-1 p,.card-2 p,.card-3 p,.card-4 p{
    visibility: hidden;
  }

  .title{
    margin: 10px;
    font-size: 30px;
  }

  .all-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-title{
    font-size: 25px;
    color: white;
    padding: 20px 0px 20px 0px;
  }

  .footer h1{
    font-size: 19px;
  }

  .footer p{
    font-size: 16px;
  }

  .down_navbar a{
    font-size: 16px;
  }

  .icons .fa {
    font-size: 35px;
  }

  .info_about_me svg {
    font-size: 20px;
  }

  .vertical_line {
    height: 150px;
  }
}

@media(max-width:736px){
  .nav-links{
    visibility: hidden;
  }


  .off-screen-menu{
    height:100vh;
    width: 100%;
    max-width: 1000px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    right:-1000px;
    transition: 0.3s ease;
  }

  .off-screen-menu.active{
    right: 0px;
  }

  .intro{
    margin-top: 30%;

  }

  .intro,.about,.projects,.portifolio{
    display: block;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    flex:10%;
    opacity: 0.6;
    visibility:visible;
  }

  .intro:hover,.about:hover,.projects:hover,.portifolio:hover,.intro.active,.about.active,.projects.active,.portifolio.active{
    opacity: 1;
    color: aqua;
    visibility: visible;
  }

  .about_me{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-1,.card-2,.card-3,.card-4{
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease-out;
  }

  .card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover{
    cursor: pointer;
  }

  .card-4:hover .text-4{
    visibility: visible;
    height: 250px;
  }

  .card-1:hover .text-1 {
    transform: translateY(10%);
  }

  .card-2:hover .text-2{
    transform: translateY(5%);
  }

  .card-3:hover .text-3{
    transform: translateY(-70%);
  }


  .card-1:hover p,.card-2:hover p,.card-3:hover p,.card-4:hover p{
    visibility: visible;
  }
  
  .image-1,.image-2,.image-3,.image-4{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.5s ease-in;
    width: 50vw;
    height: 370px;
  }

  .skill-4 svg {
    width: 45vw;
  }

  .skill-1, .skill-2, .skill-3, .skill-4 {
    margin-top: 15%;
  }

  .image-1:hover,.image-2:hover,.image-3:hover,.image-4:hover{
    box-shadow: 10px 10px 5px #aaaaaa inset;
  }

  .text-1,.text-2,.text-3,.text-4{
    box-sizing: border-box;
    position: absolute;
    width:50vw;
    background-color:rgb(0, 0, 0,50%);
    color: white;
    bottom: -8px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 300;
    font-style: normal;
    transition: 0.3s ease-out;
  }

  .hamburger-menu {
    width: 60px;
    height: 60px;
    margin-right: 25%;
  }

  .text-1{
    bottom: 62em;
  }

  .text-2{
    bottom: 33em;
  }

  .text-4{
    bottom: 5em;
  }

  .card-1 p,.card-2 p,.card-3 p,.card-4 p{
    visibility: hidden;
  }

  .project_title{
    margin-top: 20%;
  }

  .title{
    font-size: 30px;
  }

  .recent{
    font-size: 20px;
    margin-left:3%;
    text-transform: uppercase;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    display: inline;
  }

  .github_link{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 5%;
  }

}

@media(max-width:640px){

  .skills_container {
    grid-template-areas:'a';
  }

  .skill-1, .skill-2, .skill-3, .skill-4 {
    width: 50vw;
  }

  .nav-links{
    visibility: hidden;
  }

  .my-portifolio{
    font-size: 30px;
  }

  .links {
    flex: 30%;
  }

  .off-screen-menu{
    height:100vh;
    width: 100%;
    max-width: 1200px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    right:-1200px;
    transition: 0.3s ease;
  }

  .off-screen-menu.active{
    right: 0px;
  }

  .intro{
    margin-top: 30%;

  }

  .intro,.about,.projects,.portifolio{
    display: block;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    flex:10%;
    opacity: 0.6;
    visibility:visible;
  }

  .intro:hover,.about:hover,.projects:hover,.portifolio:hover,.intro.active,.about.active,.projects.active,.portifolio.active{
    opacity: 1;
    color: aqua;
    visibility: visible;
  }

  .container_about_me{
    margin-top: 0%;
  }

  .hamburger-menu{
    margin-right: 32%;
  }

  .my_intro{
  margin-right: 5%;
  }

  .my_profile{
    max-width: 200px;
    height: 200px;
    margin-top: 5%;
  }

}

@media(max-width:568px){
  #intro {
    display: flex;
    flex-direction: column;
    top: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .my_intro{
    margin-top: 5%;
  }
  
  .my_profile {
    flex: none;
    width: 250px;
    height: 250px;
  }
  
  .nav-links{
    visibility: hidden;
  }

  .nav{
    top:0%;
  }

  .my-portifolio{
    font-size: 25px;
  }

  .hamburger-menu{
    width: 50px;
    height:50px;
    margin-right: 35%;
  }

  span:nth-child(1){
    top:25%
  }

  span:nth-child(3){
    top:75%;
  }

  .hamburger-menu.active span:nth-child(1){
    transform: rotate(-45deg) ;
    top:50%;
  }

  .hamburger-menu.active span:nth-child(2){
    opacity: 0;
  }

  .hamburger-menu.active span:nth-child(3){
    transform: rotate(45deg) ;
    top: 50%;
  }

  .off-screen-menu{
    height:100vh;
    width: 100%;
    max-width: 1200px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    right:-1200px;
    transition: 0.3s ease;
  }

  .off-screen-menu.active{
    right: 0px;
  }

  .intro{
    margin-top: 10%;

  }

  .intro,.about,.projects,.portifolio{
    display: block;
    margin-left: 5%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    flex:10%;
    opacity: 0.6;
    visibility:visible;
    margin-top: 30%;
  }

  .intro:hover,.about:hover,.projects:hover,.portifolio:hover,.intro.active,.about.active,.projects.active,.portifolio.active{
    opacity: 1;
    color: aqua;
    visibility: visible;
  }

  #projects h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;

  }


  .text-3{
    top:1320px;
  }


  .project_title{
    margin-top: 0%;
    margin: 30px;
  }

  .info_about_me {
    font-size: 6px;
    margin-top: 7%;
  }

  .down_navbar{
    margin-top: 3%;
  }
  .down-nav-link-1, .down-nav-link-2, .down-nav-link-3{
    font-size: 15px;
  }

  .about_me_title{
    margin-top: 15%;
  }

}

@media(max-width:496px){
  

  .fill {
    font-size: 60px;
  }
  #intro{
    margin-top: 10%;
  }

  .my-portifolio{
    font-size: 20px;
  }

  span{
    height: 4px;
  }
 
  .hamburger-menu {
    width: 40px;
    height: 40px;
  }

  .my_intro h1{
    font-size: 20px;
  }

  .my_intro h3{
    font-size: 30px;
  }

  .my_intro p{
    font-size: 20px;
  }

  .my_profile{
    margin-top: 0%;
    width: 200px;
    height: 200px;
  }

  .complete{
    height: 500px;
  }

  .container_about_me{
    margin-top: 0;
  }


  .off-screen-menu{
    max-width: 1450px;
  }

  .text-4{
    bottom: 0;
  }

  .text-2 {
    bottom: 29em;
  }

  .text-1 {
    bottom: 60em;
  }

  .card-1, .card-2, .card-3, .card-4 {
    margin-top: 30%;
  }
  
  .about_me_title {
    font-size: 60px;
  }

  .title {
    font-size: 25px;
  }
}

@media (max-width:454px){
  .info_about_me {
    font-size: 5px;
    margin-top: 7%;
  }

  .down-nav-link-1, .down-nav-link-2, .down-nav-link-3 {
    font-size: 10px;
  }

  .icons .fa {
    height: 3px;
    font-size: 25px;
    margin-left: 10%;
  }

  .hamburger-menu{
    margin-right: 50%;
  }

  #intro{
    top:15%;
  }

  .off-screen-menu{
    max-width: 1450px;
  }

  #intro {
    margin-top: 5%;
  }

  .my_intro{
    margin-top: 2%;
  }

}

@media(max-width:424px) {

  .my_intro{
    margin-left: 15%;
    margin-right: 5%;
  }

  .my_intro h3 {
    font-size: 25px;
  }
  .my_intro h1 {
    font-size: 18px;
  }

  .my_intro p {
    font-size: 18px;
  }

  .my-portifolio {
    font-size: 19px;
  }

  span {
    height: 3px;
  }

  .about_me_title {
    font-size: 50px;
  }

  .card-1:hover .text-1 {
    transform: translateY(-3%);
  }

  .card-2:hover .text-2 {
    transform: translateY(-5%);
}

.image-1, .image-2, .image-3, .image-4 {
  width: 60vw;
}

.text-1, .text-2, .text-3, .text-4 {
  width: 60vw;
}
}




@media(max-width:412px){

  .hamburger-menu{
    width: 35px;
    height: 35px;
  }
  .my-portifolio {
    font-size: 17px;
  }

  .my_intro h1 {
    font-size: 16px;
  }
  .my_intro p {
    font-size: 16px;
  }

  .my_intro h3 {
    font-size: 22px;
  }

  .about_me_title {
    font-size: 50px;
  }

  .fill{
    font-size: 50px;
  }
}

@media(max-width:400px){

  .links {
    width: 20%;
  }

  .my_intro h3 {
    font-size: 25px;
  }

  .my_intro p {
    font-size: 18px;
  }

  .my_intro h1 {
    font-size: 18px;
  }

  .my-portifolio{
    flex: 80%;
  }

  .my_profile {

    width: 180px;
    height: 180px;
  }

  .off-screen-menu{
    max-width: 1450px;
  }

  .my_intro {
    margin-top: 10%;
  }


  .info_about_me{
    margin-left: 0%;
  }

  .down_navbar{
    margin-left: 0%;
  }

  .down-nav-link-1, .down-nav-link-2, .down-nav-link-3 {
    font-size: 8px;
  }

  .footer h1 {
    font-size: 15px;
  }
  .down_navbar a {
    font-size: 13px;
  }
  .footer p {
    font-size: 13px;
  }
  .info_about_me svg {
    font-size: 15px;
  }
}

@media(max-width:370px){
  .text-2{
    bottom: 31em;
  }
}

@media(max-width:360px){


  .image-1, .image-2, .image-3, .image-4 {
    width: 250px;
  }

  .text-1, .text-2, .text-3, .text-4 {
    width: 250px;
  }

  .text-1 h4,.text-2 h4,.text-3 h4,.text-4 h4{
    visibility: visible;
  }

  .project-card-1, .project-card-2, .project-card-3, .project-card-4 {
    width: 250px;
    border-radius: 0px;
  }

  .project-card-1:hover, .project-card-2:hover, .project-card-3:hover, .project-card-4:hover {

    border-radius: 0px;
  }

  .project-1, .project-2, .project-3, .project-4 {
    width: 200px;
    
  }

  .project-card-1-part-2, .project-card-2-part-2, .project-card-3-part-2, .project-card-4-part-2 {
    width: 200px;
  }

  #projects h1{
    font-size: 20px;
  }
}

@media(max-width:332px){


  .info_about_me {
    margin-left: 0%;
    font-size: 4px;
  }

  .down-nav-link-1, .down-nav-link-2, .down-nav-link-3 {
    font-size: 7px;
    margin-left: 0%;
    margin-top: 0%;
  }
}